@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: repeating-linear-gradient(-15deg,
    #8f2c28,
    #8f2c28 350px,
    #1d356d 350px,
    #1d356d 740px);
}

.modal {
    transition: opacity 0.25s ease;
  }
  body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important;
  }

/* body {
    background-image: linear-gradient(180deg, blue, red);
	transform: skewY(-11deg);
}

main {
    transform: skewY(11deg);
} */