@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: repeating-linear-gradient(-15deg,
    #f96d6a,
    #f96d6a 350px,
    #5C85E7 350px,
    #5C85E7 740px);
}

/* body {
    background-image: linear-gradient(180deg, blue, red);
	transform: skewY(-11deg);
}

main {
    transform: skewY(11deg);
} */